/* css for keyinfo and video */
#key-info-and-vid {
  #key-info {
    display: flex;
    .bullet-points {
      display: flex;
      margin-bottom: 10px;
      ul {
        padding-left: 15px;
        li {
          line-height: 1.6;
          font-size: 1.6rem;
          color: $primary-font-color;
        }
      }
    }
    .vehicle-details {
      overflow: hidden;
      height: 155px;
      transition: all 0.5s;
      p {
        line-height: 1.6;
        font-size: 1.6rem;
        color: $primary-font-color;
      }
    }
    .vdp-cta {
      display: flex;
      flex-direction: column;

      a {
        width: 50%;
        padding: 10px 20px;
        margin: 5px!important auto;
        @include screen-queries-min-width('lg') {
          width: 20%;
        }
      }
      #show-more-btn {
        transition: ease-in-out 0.5s;
        display: block;
      }
      #show-less-btn {
        transition: ease-in-out 0.5s;
        display: none;
      }
    }
  }

  #video {
    display: flex;
    flex-direction: row;
    height: 325px;
    p {
      $list-txt-font-size: 1.6rem;
      $list-txt-line-height: 1.6;
    }
  }
}
