@import '../../styles/custom';

/* section for standard specs css */

#standard-specifications {
  .nav-tabs {
    border: none;
  }
  ul.tab-spec-info-list {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    @include screen-queries-min-width('sm') {
      display: block;
    }
    li {
      height: 70px;
      display: block;
      margin: 0 0 -1px 0;
      padding: 5px;
      list-style-type: none;
      border: solid thin $vdp-border-color;
      &:nth-child(even) {
        background-color: $vdp-border-color;
        border: solid thin #000;
      }
    }
    br {
      clear: left;
    }
    .tab-content {
    }
  }
  #standard-specification-nav-tabs {
    display: none;
    @include screen-queries-min-width('sm') {
      display: block;
    }
    .active {
      border-radius: 0;
      a {
        background-color: #000;
        color: $secondary-font-color;
      }
    }
  }
  a {
    @include vlp-vdp-a-tag-btn;
    border-radius: 0;
    font-size: 1.2rem;
    color: $primary-font-color;
    margin: 0 1.25px 20px;
    padding: 10px 20px;
  }

  #spec-accordion {
    display: block;
    @include screen-queries-min-width('sm') {
      display: none;
    }
  }
}
