@import '../../styles/custom';

/* css for additional features section */

#additional-features {
  #installed-options {
    & > ul {
      padding: 0;
      -webkit-column-count: 1;
      column-count: 1;
      @include screen-queries-min-width('sm') {
        -webkit-column-count: 2;
        column-count: 2;
      }
      @include screen-queries-min-width('md') {
        -webkit-column-count: 3;
        column-count: 3;
      }
      li {
        display: block;
        color: $primary-font-color;
        line-height: $list-txt-line-height;
        font-size: $list-txt-font-size;
        text-indent: -9px;
        margin: 0 0 -1px 0;
        padding: 5px;
        list-style-type: none;
        &:before {
          content: '-';
        }
      }
    }
  }
  .vdp-cta {
    display: flex;
    flex-direction: column;

    a {
      width: 50%;
      padding: 10px 20px;
      margin: 5px!important auto;
      @include screen-queries-min-width('lg') {
        width: 20%;
      }
    }
    #show-more-btn {
      transition: ease-in-out 0.5s;
      display: block;
    }
    #show-less-btn {
      transition: ease-in-out 0.5s;
      display: block;
    }
  }
}
