/* css for site consistency */
/*colors for site*/
/* functions, vars and media Queries */
/* css effects */
/* To set container to larger width after 1800px */
@media (min-width: 1600px) {
  .container {
    width: 1460px !important; } }
@media (min-width: 1800px) {
  .container {
    width: 1692px !important; } }

/* css for site consistency */
/*colors for site*/
/* functions, vars and media Queries */
/* css effects */
/* To set container to larger width after 1800px */
@media (min-width: 1600px) {
  .container {
    width: 1460px !important; } }
@media (min-width: 1800px) {
  .container {
    width: 1692px !important; } }

/* scss file to used for vdp global*/
#vehicle-display {
  background-color: #fefefe; }
  #vehicle-display h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin: 0 0 25px;
    border-bottom: solid thin #dbdbdb; }
  #vehicle-display .vdp-cta {
    background: #fefefe;
    text-align: center;
    padding-bottom: 1px;
    text-decoration: none !important; }
    #vehicle-display .vdp-cta a {
      width: 100%;
      display: block;
      text-transform: uppercase;
      text-decoration: none !important;
      margin: 15px auto;
      border: solid thin #000;
      font-weight: 700;
      padding: 15px 40px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-box-shadow: none;
      box-shadow: none;
      cursor: pointer;
      color: #000; }
      #vehicle-display .vdp-cta a:hover {
        background-color: #000;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        color: #fff !important; }
      #vehicle-display .vdp-cta a:focus {
        outline: 0;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
      #vehicle-display .vdp-cta a:active {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); }
      @media (min-width: 1200px) {
        #vehicle-display .vdp-cta a {
          width: 55%; } }
      #vehicle-display .vdp-cta a .fa {
        color: #000;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #vehicle-display .vdp-cta a:hover .fa {
        color: #fff; }

/* css for site consistency */
/*colors for site*/
/* functions, vars and media Queries */
/* css effects */
/* To set container to larger width after 1800px */
@media (min-width: 1600px) {
  .container {
    width: 1460px !important; } }
@media (min-width: 1800px) {
  .container {
    width: 1692px !important; } }

body,
p,
div,
ul,
li,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif; }

#product-gallery-slideshow .product-gallery-image {
  width: 100%; }
#product-gallery-slideshow .slick-prev {
  left: 0px;
  z-index: 999;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 35px;
  cursor: pointer; }
  #product-gallery-slideshow .slick-prev:before {
    color: #aaa; }
#product-gallery-slideshow .slick-next {
  right: 0px;
  z-index: 999;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 35px;
  cursor: pointer; }
  #product-gallery-slideshow .slick-next:before {
    color: #aaa; }

/* css for site consistency */
/*colors for site*/
/* functions, vars and media Queries */
/* css effects */
/* To set container to larger width after 1800px */
@media (min-width: 1600px) {
  .container {
    width: 1460px !important; } }
@media (min-width: 1800px) {
  .container {
    width: 1692px !important; } }

/* specification css section */
#specification-content table {
  line-height: 17px;
  color: #444;
  margin-bottom: 0px;
  border-color: transparent !important;
  background: transparent !important;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  #specification-content table tbody {
    border-color: transparent !important;
    background: transparent !important;
    border: solid thin #f1f1f1; }
    #specification-content table tbody tr {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      border-bottom: solid thin #dbdbdb; }
      #specification-content table tbody tr th {
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        padding: 0.5rem 0.625rem 0.625rem; }
      #specification-content table tbody tr td {
        width: 120px;
        border-color: transparent !important;
        background: transparent !important;
        padding: 0.5rem 0.625rem 0.625rem; }
        #specification-content table tbody tr td:nth-child(odd) {
          font-weight: 600; }
        #specification-content table tbody tr td:nth-child(even) {
          font-weight: 400; }
#specification-content p {
  font-weight: 600; }

/* css for keyinfo and video */
#key-info-and-vid #key-info {
  display: flex; }
  #key-info-and-vid #key-info .bullet-points {
    display: flex;
    margin-bottom: 10px; }
    #key-info-and-vid #key-info .bullet-points ul {
      padding-left: 15px; }
      #key-info-and-vid #key-info .bullet-points ul li {
        line-height: 1.6;
        font-size: 1.6rem;
        color: #000; }
  #key-info-and-vid #key-info .vehicle-details {
    overflow: hidden;
    height: 155px;
    transition: all 0.5s; }
    #key-info-and-vid #key-info .vehicle-details p {
      line-height: 1.6;
      font-size: 1.6rem;
      color: #000; }
  #key-info-and-vid #key-info .vdp-cta {
    display: flex;
    flex-direction: column; }
    #key-info-and-vid #key-info .vdp-cta a {
      width: 50%;
      padding: 10px 20px;
      margin: 5px !important auto; }
      @media (min-width: 1200px) {
        #key-info-and-vid #key-info .vdp-cta a {
          width: 20%; } }
    #key-info-and-vid #key-info .vdp-cta #read-more-btn {
      transition: ease-in-out 0.5s;
      display: block; }
    #key-info-and-vid #key-info .vdp-cta #read-less-btn {
      transition: ease-in-out 0.5s;
      display: none; }
#key-info-and-vid #video {
  display: flex;
  flex-direction: row;
  height: 325px; }

/* css for site consistency */
/*colors for site*/
/* functions, vars and media Queries */
/* css effects */
/* To set container to larger width after 1800px */
@media (min-width: 1600px) {
  .container {
    width: 1460px !important; } }
@media (min-width: 1800px) {
  .container {
    width: 1692px !important; } }

/* featured vehicle section */
/*
  mobile
  padding: 10px 15px;
  height: 80.5%
  width: 90%
  bottom 45px;
  left: 15px;
  
  Need to move the reference overlay into inside similar-vehicle-imagery
*/
#rolls-royce-similar-vehicles {
  background-color: #fefefe;
  margin: 40px 0;
  padding: 20px 0; }
  @media (min-width: 992px) {
    #rolls-royce-similar-vehicles {
      margin: 10px 0;
      padding: 0; } }
  #rolls-royce-similar-vehicles .single-similar-vehicle {
    -webkit-filter: none;
    filter: none;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s; }
    #rolls-royce-similar-vehicles .single-similar-vehicle .similar-vehicle-imagery {
      position: relative; }
      #rolls-royce-similar-vehicles .single-similar-vehicle .similar-vehicle-imagery img {
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }
    #rolls-royce-similar-vehicles .single-similar-vehicle .similar-vehicle-name {
      margin-top: 5px; }
    #rolls-royce-similar-vehicles .single-similar-vehicle .simiar-vehicle-price {
      margin-bottom: 5px; }
    #rolls-royce-similar-vehicles .single-similar-vehicle:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    #rolls-royce-similar-vehicles .single-similar-vehicle:active {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay {
      display: block;
      position: absolute;
      z-index: 20;
      background: rgba(0, 0, 0, 0.4);
      overflow: hidden;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      @media (min-width: 1200px) {
        #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay {
          width: 89.5%; } }
      #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay a {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: none;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 2px solid #fff;
        font-weight: 560;
        padding: 5px 25px 8px;
        letter-spacing: normal;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: transparent;
        border-color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        padding: 5px 15px;
        text-decoration: none; }
        #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay a:hover {
          background-color: rgba(255, 255, 255, 0.2);
          -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); }
        #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay a:hover {
          color: #000;
          background-color: #fff !important; }
        @media (min-width: 1200px) {
          #rolls-royce-similar-vehicles .single-similar-vehicle .reference-overlay a {
            padding: 10px 15px; } }
    #rolls-royce-similar-vehicles .single-similar-vehicle:hover .reference-overlay {
      height: 100%; }

/*# sourceMappingURL=main.css.map */
