@import '../../styles/custom';

#product-gallery-slideshow {
  .product-gallery-image {
    width: 100%;
  }
  #product-gallery-detail {
    .img-responsive {
      width: 100%;
    }
  }
  .pdtm-vdp-img-detail {
    padding: 0 2.5px 0;
  }

  .slick-prev {
    left: 0px;
    z-index: 999;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 35px;
    cursor: pointer;
    &:before {
      color: #aaa;
    }
  }
  .slick-next {
    right: 0px;
    z-index: 999;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 35px;
    cursor: pointer;
    &:before {
      color: #aaa;
    }
  }
  .zoom-init {
    cursor: pointer;
  }
  .zoom-icon-container {
    position: absolute;
    z-index: 9;
    left: 85%;
    background-color: #fff;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      .fa {
        font-size: 1.6em;
      }
    }
    @include screen-queries-min-width('sm') {
      left: 90%;
    }
  }
}

#zoom-container {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 1);
  #position-wrapper {
    display: block;
    position: relative;
    height: 50%;
    width: 100%;
    @include screen-queries-min-width('lg') {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    #zoom-carousel {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .slick-next {
        right: 0vw;
      }
      .slick-prev {
        left: 0vw;
      }
      .img-responsive {
        margin: auto;
      }
    }
  }
  a.close-zoom {
    display: block;
    position: absolute;
    top: 3%;
    left: 80%;
    @include a-tag-button-style;
    font-size: 2em;
    font-weight: 500;
    width: 12vw;
    z-index: 99999;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    @include screen-queries-min-width('sm') {
      left: 90%;
      width: 6vw;
    }
    @include screen-queries-min-width('lg') {
      left: 95%;
      width: 3vw;
    }
  }
}
