@import './custom';
/* scss file to used for vdp global*/

#vehicle-display {
  background-color: $inventory-primary-color;
  @include standard-section-spacing;
  h3 {
    font-size: $vdp-title-font-size;
    font-weight: 600;
    color: $primary-font-color;
    margin: 0 0 25px;
    border-bottom: solid thin $vdp-border-color;
  }
  .vdp-cta {
    background: #fefefe;
    text-align: center;
    padding-bottom: 1px;
    text-decoration: none !important;
    a {
      width: 100%;
      @include vlp-vdp-a-tag-btn;
      color: $primary-font-color;
      @include screen-queries-min-width('lg') {
        width: 55%;
      }
      .fa {
        color: $primary-font-color;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
      &:hover .fa {
        color: $secondary-font-color;
      }
    }
  }
  #image-and-specs {
    @include standard-section-spacing;
  }
  #key-info-and-vid {
    @include standard-section-spacing;
  }

  #rolls-royce-similar-vehicles {
    @include standard-section-spacing;
  }
}
