@import './custom';
/* scss file to used for vdp global*/
$primary-title-font-color: #999999;

body,
p,
div,
ul,
li,
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}

.vdp .inventory-display-container {
  background-color: $primary-test-color !important;
}

#name-and-price {
  margin-top: 20px;
  padding-top: 20px;
  h1 {
    font-size: $title-font-size;
    color: $primary-title-font-color;
  }
  #pricing-block {
    & > h1 {
      font-size: $title-font-size;
      color: $primary-title-font-color;
      padding-left: 15px;
      @include screen-queries-min-width('sm') {
        padding-right: 30px;
        text-align: end;
      }
    }
  }
}
#vehicle-display {
  background-color: $inventory-primary-color;
  @include standard-section-spacing;
  h2 {
    font-size: $vdp-title-font-size;
    font-weight: 600;
    color: $primary-font-color;
    margin: 0 0 25px;
    border-bottom: solid thin $vdp-border-color;
    text-transform: uppercase;
  }

  .vdp-cta {
    background: #fefefe;
    text-align: center;
    padding-bottom: 1px;
    text-decoration: none !important;
    a {
      width: 100%;
      @include vlp-vdp-a-tag-btn;
      color: $primary-font-color;
      @include screen-queries-min-width('lg') {
        width: 70%;
      }
      .fa {
        color: $primary-font-color;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
      &:hover .fa {
        color: $secondary-font-color;
      }
    }
  }

  #image-and-specs {
    @include standard-section-spacing;
  }
  #key-info-and-vid {
    @include standard-section-spacing;
  }

  #rolls-royce-similar-vehicles {
    @include standard-section-spacing;
  }
  #standard-specifications {
    @include standard-section-spacing;
  }
  #additional-features {
    @include standard-section-spacing;
  }
  #disclaimer {
    @include standard-section-spacing;
  }
}
