@import '../../styles/custom';

/* specification css section */

#specification-content {
  table {
    line-height: 17px;
    color: $secondary-border-background-color;
    margin-bottom: 0px;
    border-color: transparent !important;
    background: transparent !important;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    tbody {
      border-color: transparent !important;
      background: transparent !important;
      border: solid thin $vdp-border-secondary-color;
      tr {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-bottom: solid thin $vdp-border-color;
        th {
          text-align: center;
          text-transform: uppercase;
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          color: $primary-font-color;
          padding: 0.5rem 0.625rem 0.625rem;
        }
        td {
          width: 120px;
          border-color: transparent !important;
          background: transparent !important;
          padding: 0.5rem 0.625rem 0.625rem;
          &:nth-child(odd) {
            font-weight: 600;
          }
          &:nth-child(even) {
            font-weight: 400;
          }
        }
      }
    }
  }
  #cta-button-column {
    .pdtm-vdp-cta-right {
      margin-top: 20px;
      & div:not(:first-child) {
        padding: 20px 0;
        border-bottom: solid thin $vdp-border-color;
      }
      .phone-number {
        font-weight: 600;
        font-size: 1.3em;
        margin-bottom: 15px;
      }
      a {
        border-radius: 0;
      }
    }
  }
  p {
    font-weight: 600;
    margin-bottom: 20px;
  }
}
