@import '../../styles/custom';

/* specification css section */

#specification-content {
  table {
    line-height: 17px;
    color: $secondary-border-background-color;
    margin-bottom: 0px;
    border-color: transparent !important;
    background: transparent !important;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    tbody {
      border-color: transparent !important;
      background: transparent !important;
      border: solid thin $vdp-border-secondary-color;
      tr {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-bottom: solid thin $vdp-border-color;
        th {
          text-align: center;
          text-transform: uppercase;
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          color: $primary-font-color;
          padding: 0.5rem 0.625rem 0.625rem;
        }
        td {
          width: 120px;
          border-color: transparent !important;
          background: transparent !important;
          padding: 0.5rem 0.625rem 0.625rem;
          &:nth-child(odd) {
            font-weight: 600;
          }
          &:nth-child(even) {
            font-weight: 400;
          }
        }
      }
    }
  }
  .vdp-cta {
    background: #fefefe;
    text-align: center;
    padding-bottom: 1px;
    a {
      width: 100%;
      @include vlp-vdp-a-tag-btn;
      color: $primary-font-color;
      @include screen-queries-min-width('lg') {
        width: 55%;
      }
      .fa {
        color: $primary-font-color;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
      &:hover .fa {
        color: $secondary-font-color;
      }
    }
    p {
      font-weight: 600;
    }
  }
}
